body {
  margin: 0;
  display: flex;
  font-family: "Roboto", sans-serif;
  background-color: #292929;
}

.container {
  margin: 0 auto;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.755);
  width: 1024px;
  overflow: hidden;
}

.header {
  position: fixed;
  width: 1024px;
  height: 50px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(89, 136, 72, 0.474);
  align-items: center;
}
.nav_ul {
  padding-left: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}
.nav_ul_li {
  list-style-type: none;
}
.nav_ul_li a {
  color: rgb(36, 36, 36);
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
}
.nav_ul_li a:hover {
  color: rgb(172, 35, 35);
  font-size: 18px;
  text-decoration: 1px solid;
}

.main {
  display: flex;
  margin-top: 50px;
}
.main__ava {
  margin-top: 5px;
}
.main__ava__img {
  display: flex;
  margin: 0 auto;
  margin-top: 15px;
  margin-left: 15px;
  width: 300px;
  height: 300px;
  border-radius: 100%;
  box-shadow: 1px 8px 11px 4px rgb(0 0 0 / 60%);
}
.main__text {
  margin-top: 25px;
  margin-right: 15px;
  margin-left: 15px;
  width: 65%;
}
.main__text h1 {
  font-weight: 500;
  transform: translate(-50%, -50%);
  animation: slideRigth 1.2s forwards;
  transform: translateX(150%);
}

.main__text h2 {
  font-weight: 400;
  margin-bottom: 0;
}
.main__text p {
  color: rgba(0, 0, 0, 0.5);
  font-weight: 400;
  margin-top: 5px;
}
.main__text h3 {
  font-weight: 400;
  font-style: italic;
  margin-top: 5px;
}
.main__text h3 a {
  font-weight: 500;
  font-style: italic;
  margin-top: 5px;
  text-decoration: none;
}
.main__text h3 a:hover {
  color: #ff000091;
}




.footer {
  width: 100%;
  height: 100px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  background-color: rgba(89, 136, 72, 0.755);
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
}

.footer__text {
  font-size: 18px;
  font-weight: 500;
}

.footer img {
  width: 100px;
  height: 100px;
  cursor: pointer;
  color: #292929;
}

@keyframes slideLeft {
  0% {
    transform: translateX(-150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes slideRigth {
  0% {
    transform: translateX(150%);
  }
  100% {
    transform: translateX(0%);
  }
}

@media (max-width: 720px) {
  .main__ava__img {
    display: flex;
    margin: 0 auto;
    margin-top: 15px;
    margin-left: 15px;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    box-shadow: 1px 8px 11px 4px rgb(0 0 0 / 60%);
  }
}
